<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>S3 Buckets List Page</title>
</head>
<body>
    
    <h1>S3 Bucket List</h1>
    <ul> 
    {% for bucket in buckets %}
        
        <li><a href="./s3_describe.php?bucketname={{ bucket }}"> {{ bucket }}</a></li>
    {% endfor %}

    </ul>
    
    
</body>
</html>