<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>S3 Bucket Objects List Page</title>
</head>
<body>
    <form action="./aws.php">
        <input type="submit" value="Go Back" />
    </form>
    
    <h1>{{ bucket }}</h1>
    <h1>Objects List</h1>
    <ul> 
    {% for object in objects %}
        
        <li>{{ object }}</li>
    {% endfor %}

    </ul>
    
</body>
</html>